log/**/*
tmp/**/*
.env
.env.test
/public/uploads
/public/assets
/public/apply
/node_modules
/public/vite
/public/vite-dev
/public/vite-test
/coverage
/.bundle
/.git
/spec
/.env.*
/.rspec*
/.rubocop*
/.ruby-version
/azure-pipelines.yml
/docker-compose*
/Dockerfile*
/Vagrantfile
yarn-error.log
/docker
