// Buttons
// ==========================================================================
@import "design-patterns/buttons";

.button {
  @include button ($button-colour);
  margin: 0 $gutter-half $gutter-half 0;
  padding: em(10) em(15) em(5) em(15);
  vertical-align: top;
  &[disabled="disabled"] {
    background: $button-colour;
    &:focus {
      outline: none;
    }
  }
  &:focus {
    outline: 3px solid $yellow;
  }
  &.button-return {
    @include core-19;
    background-color: $light-blue;
    color: $white;
    height: 23px;
  }
}
