// Buttons
// ==========================================================================
@import "design-patterns/buttons";
$blue: #005ea5;

%button {
  margin: 0 $gutter-half $gutter-half 0;
  vertical-align: top;
  &:focus {
    outline: 3px solid $yellow;
  }
}

.button {
  @include button ($button-colour);
  @extend %button;
  padding-top: $gutter/4;
  padding-bottom: $gutter/4;
  &[disabled="disabled"] {
    background: $button-colour;
    &:focus {
      outline: none;
    }
  }

}

.button-return {
  @include button ($blue);
  @extend %button;
  padding-top: $gutter/4;
  padding-bottom: $gutter/4;
  color: $white;
}
