.callout {
  @include span(11 of 12);
  margin:0 0 $gutter*2;
  padding:$gutter $gutter-half;

  @include media(mobile) {
    @include span(12 of 12);
    padding:$gutter $gutter-half;
  }

  &.callout-reference{
    border-left: 5px solid $border-colour;
    background:$highlight-colour;
  }
  &.callout-fee{
    border-left: 5px solid $turquoise;
    background:lighten($turquoise, 55%);
  }
  &.callout-confirmation{
    background:$turquoise;
    color:#fff;
  }
  p{
    @include core-19;
    margin:0;
  }
  .number{
    @include bold-48();
  }
  .type{
    @include bold-19();
  }
}
