.year-month-date-input {
  label {
    display: none;
  }
  .unknown {
    width: 6em;
    label.unknown {
      display: block;
      margin-bottom: 0px;
      text-align: center;
      font-size: 0.7em;
    }
    input {
      margin: 0px;
    }
  }
}
