.flash {
  background-color:$highlight-colour;
  border-width:0 0 0 8px;
  border-style:solid;
  margin: $gutter 0;
  padding:$gutter 0;
  &.info {
    border-color:$grass-green;
  }
  &.notice {
    border-color:$yellow;
  }
  &.alert {
    border-color:$error-colour;
  }
  h2{
    @include core-19;
    color:$text-colour;
    margin:0;
    padding:0 $gutter-half;
  }
}
