// Layout
// ==========================================================================

#wrapper {
  text-align: center;

  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Use .outer-block to create a max width block of 1020px,
// Use .inner-block to create padding that matches the header and footer

// .outer-block,
#content {
  text-align: left;

  @include outer-block;
  @include contain-floats; // Repeated as %extend placeholder isn't supported
}

.inner-block {
  @include inner-block(margin);
}

// Ensure .inner-block doesn't inherit a margin here
// TODO: Change this in the govuk_template
#global-cookie-message .inner-block,
#global-header-bar .inner-block {
  margin: 0;
}
