#navcontainer {
  display: none;
  @include media(mobile) {
    display: block;
    text-align: right;
    margin: 0 $gutter;
    border-bottom: 1px solid $grey-3;
    padding:$gutter-half 0;
    ul {
      @include clearfix;
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: relative;
      & > li {
        &:first-child {
          @include first;
          float:left;
        }
      }
      ul{ // second level
        @include core-16;
        display:none;
        width: 100%;
        border-top: 1px solid $grey-3;
        margin-top:$gutter-half/2;
        line-height: 30px;
        padding:$gutter-half 0 0;
        a {
          padding-left:10px;
        }
        & > li {
          &:first-child {
            float:none;
          }
        }
      }
    }
    li{
      display: inline;
      margin:0;
    }
    .menu-trigger {
      padding-left:$gutter-half;
      &:after {
        content: '\25B2';
        color:$grey-3;
      }
      &.active {
        &:after {
          content: '\25BC';
        }
      }
    }
  }
}
