// Panels
// ==========================================================================

// Indented panels with a grey left hand border
.panel-indent {
  border-left: 5px solid $panel-colour;
  @include span(11 of 12);
  @include prefix(0.25 of 12);
  margin-top:$gutter-half/2;
  margin-bottom:$gutter;
  padding-top:$gutter;
  padding-bottom:$gutter;
}

.panel-indent legend {
  margin-top: 0;
}

.panel-indent p:only-child {
  margin-bottom: 0;
}

.panel-indent .form-group:last-child {
  margin-bottom: 0;
}
