// Panels
// ==========================================================================

// Indented panels with a grey left hand border
.panel-indent {
  border-left: 5px solid $panel-colour;
  margin:$gutter-half/2 0 $gutter;
  padding: $gutter-half/2 0 $gutter-half $gutter-half/2;
  legend {
    margin-top: 0;
  }
  p:only-child {
    margin: 0;
  }
  .form-group:last-child {
    margin-bottom: 0;
  }

}
