/*

      Nasty hacky file of doom for dealing with epdq payment pages
      Abandon hope ye who enter
  
*/

.payment-zone {
  // nasty table layout stuff

  table.ncoltable1, 
  table.ncoltable2, 
  table.ncoltable3 {
    th,td{
    border: none;
    font-size:19px;
    }
  }
  table.ncoltable2{
    border-bottom: 1px solid $panel-colour;
    border-top: 1px solid $panel-colour;
    margin-top: 30px;
    padding: 30px 0;
  }
  table.ncoltable1{
    padding-bottom: 30px;
  }
  table.ncoltable2,
  table.ncoltable2 tbody{
    display: block;
    td, th {
      padding: 0;
      vertical-align: bottom;
    }
    td.ncoltxtl2,
    td.ncolinput {
      display: block;
      width:100% !important;
    }
  }
  table.ncoltable1 {
    td:first-child{
      width:15%;
    }
    td:last-child{
      font-weight: bold;
    }
  }

  // this is actually a heading (!)

  .ncolh1 b small {
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
    padding: 0 0 7.5px 0;
    width: 100%;
  }

  // hide stuff that's not required

  table.ncoltable2 .ncolline1[width='5%'],
  table.ncoltable2 .ncolline1[width='40%'],
  table.ncoltable2 .ncolline2[width='5%'] {
    display:none;
  }

  table.ncoltable3{
    margin-top:100px;
  }


  //secondary buttons


  #ncol_cancel, #btn_Back {
    @include button ($panel-colour);
    @extend %button;
    margin-right: 0;
    padding-top: $gutter/4;
    padding-bottom: $gutter/4;
    &[disabled="disabled"] {
      background: $button-colour;
      &:focus {
        outline: none;
      }
    }
  }

  // bottom table

  table.ncoltable3 {
    position: relative;
    table{
      position: absolute;
      top: -85px;
    }
    .ncollogoc{
      float: left;
      width:auto !important;
    }
  }

  // form

  table.ncoltable2{
    tr:first-child{
       td:first-child small{
        font-size: 19px;
        font-weight: bold;
      }
      
    }
    small label{
      font-size: 19px;
    }
    // hide mandatory fields statement at the end of the form
    tr td[colspan="2"] small small {
      display: none;

    }
    // add mandatory marker at the top of the form
    label[for="Ecom_Payment_Card_Name"]:before{
        content: '* Mandatory fields';
        display: block;
        font-size: 16px;
        line-height: 4;
      } 
      input{
        font-size: 19px;
        margin: 7px 0 30px 0;
        width:100%;
      }
      #Ecom_Payment_Card_Verification{
        width: 30%;
      }
      select{
        font-size: 19px;
        margin: 7px 0 30px 0;
        &:first-child{
          margin-right: 0.5em;
        }
        &:last-child{
          margin-left: 0.5em;
        }
      }

  }


  // submit button

  #submit3 {
    @include button ($button-colour);
    @extend %button;
    margin-right: 300px;
    padding-bottom: $gutter/4;
    padding-top: $gutter/4;
    // right margin forces tr to be wider so that all inputs are wider. Yuck.
    width: auto;
    &[disabled="disabled"] {
      background: $button-colour;
      &:focus {
        outline: none;
      }
    }

  }


  // card type buttons

  table.ncoltable2 input[type="image"],
  table.ncoltable2 img{
    border:1px solid $ministry-of-justice;
    border-radius: 4px;
    float:right;
    display: inline-block;
    max-height: 25px;
    margin:0 15px 0 0 !important;
    padding:10px;
    width: auto;
  }
  table.ncoltable2 img{
    float: none;
    margin-top: 10px !important;
  }
  table.ncoltable2 .ncolline2 input[type="image"]{
    float:none;
    left:0;
    position: relative;
    top: -46px;
    & + small{
      position: relative;
      top: -25px;
    }
  }
}