table.ncoltable1, 
table.ncoltable2, 
table.ncoltable3 {
  th,td{
  border: none;
  }
}
table.ncoltable2{
  display: block;
  tr, td, th {
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
  }
}
.ncolh1 b small {
  font-size: 1.5em;
  font-weight:bold;
}
table.ncoltable2 .ncolline1[width='5%'],
table.ncoltable2 .ncolline1[width='40%'],
table.ncoltable2 .ncolline2[width='5%'] {
  display:none;
}
input[type="image"]{
  display: inline-block;
  border:1px solid $panel-colour;
  padding:10px;
  max-height: 25px;
  margin-right: 15px !important;

}
table.ncoltable3{
  margin-top:1em;
}

#ncol_cancel, #btn_Back {
  @include button ($panel-colour);
  @extend %button;
  padding-top: $gutter/4;
  padding-bottom: $gutter/4;
  &[disabled="disabled"] {
    background: $button-colour;
    &:focus {
      outline: none;
    }
  }

}