/* default state */
.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;

    z-index: 8001;
}

$mqs : (mobile, tablet, desktop);
@each $mq in $mqs {
  $i : index($mqs, $mq);
    @include media(#{$mq}) {
        .state-indicator {
          z-index: #{$i+8000};
        }
    }
}
