// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  @include core-16;
  padding: em(14) em(20) em(10) 0;

  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid $border-colour;
}

table th {
  font-weight: 700;
}

// review table
// ==========================================================================

table.review-table{
  border-collapse: collapse;
  width:100%;
  border-bottom: 1px solid $border-colour;
  col{
    &.th{
      width:30%;
    }
    &.td:first-child{
      width:30%;
    }
  }
  caption{
    @include bold-19();
    text-align:left;
    background: $highlight-colour;
    padding:$gutter-half/2 0;
    text-indent:$gutter-half/2;
  }
  th,td{
    padding-left:$gutter-half/2;
    padding-right:$gutter-half/2;
    vertical-align: top;
    padding-right:0;
    width:50%;
    border-bottom: none;
    border-top: 1px solid $border-colour;
  }
  th{
    font-weight:400;
    color:$grey-1;
  }
  td {
    p {
      @include core-16;
      margin:0;
    }
  }
  & + h2{
    margin:$gutter 0 $gutter-half;
  }
  h2 + & {
    border-bottom:none;
  }
}

@mixin caption-large {
  @include bold-24();
  text-align:left;
}

table.files-table{
  caption{
    @include caption-large;
  }
  border:1px solid $border-colour;
  border-bottom:none;
  margin-bottom:1em;
}

table.confirmation-table {
  caption {
    @include caption-large;
  }
  margin:$gutter*2 0;
  border-top:1px solid $border-colour;
  th {
    @include core-16;
    color:$grey-1;
  }
  td {
    text-align:left;
  }
}

.static-content table {
  margin: $gutter 0;
}
