// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  @include core-16;
  padding: em(14) em(20) em(10) 0;

  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid $border-colour;
}

table th {
  font-weight: 700;
}

// review table
// ==========================================================================

table.review-table{
  border-collapse: collapse;
  width:100%;
  col{
    &.th{
      width:30%;
    }
    &.td:first-child{
      width:30%;
    }
  }
  caption{
    @extend .bold-small;
    text-align:left;
    background: $highlight-colour;
    padding:$gutter-half/2 0;
  }
  th,td{
    border-bottom:1px solid $border-colour;
    vertical-align: top;
    padding-right:0;
    width:30%;
  }
  th{
    font-weight:400;
    color:$grey-1;
  }
  tr:first-child{
    th,td{
      border-top:1px solid $border-colour;
    }
  }
  & + h2{
    margin:$gutter 0 $gutter-half;
  }
}

table.files-table{
  border:1px solid $border-colour;
  border-bottom:none;
  margin-bottom:1em;
  caption{
    @extend .bold-medium;
    text-align:left;
  }
}
.static-content table {
  margin: $gutter 0;
}
