h1 Your representative

= f.input :type, collection: RepresentativeForm::TYPES
= f.input :organisation_name
= f.input :name
= f.input :address_building
= f.input :address_street
= f.input :address_locality
= f.input :address_county
= f.input :address_post_code
= f.input :telephone_number
= f.input :mobile_number
= f.input :email_address
= f.input :dx_number
