#error-summary.validation-summary.group role="alert" tabindex='0' aria={ labelledby: 'error-heading', describedby: 'error-message' }
  h2#error-heading = t 'aria.error_summary'
  p#error-message = message
