#session_prompt.validation-summary.alert-dialog.hidden role="alertdialog" aria-labelledby="timeoutTitle"
  h2 = t('session_prompt.header').html_safe
  p = t 'session_prompt.session_continue'
  #session_prompt_continue_btn.button.button-primary = t 'session_prompt.session_continue_button'
