.main-content.refunds_fees {
  width: 75%;
  table.fees {
    .fee {
      input {
        width: 4em;
      }
    }
    td.fee_type {
      margin: 0px;
      padding: 0px 10px 0px 0px;
    }
    .fee_payment_date {
      .know-date-input.year-month-date-input {
        width: 16em;
        .form-group {
          width: 30%;
          margin-right: 5px;
        }
        select {
          width: 100%;
        }
      }
    }
    .fee_payment_method {
      select {
        width: 7em;

      }
    }
    td {
      .form-group {
        margin-bottom: 0px;
      }
    }
    margin-bottom: 20px;
  }
}
