.main-content.refunds_review {
  table.review-table.fees {
    td.fee_type {
      width: 15%;
    }
    td.fee {
      width: 15%;
    }
    td.payment_date {
      min-width: 8em;
    }
    td.payment_method {
      min-width: 8em;
    }
  }
}
