#!/bin/bash
cd /rails
echo "Starting sneakers"           >>/rails/log/sneakers.log
exec bundle exec rake sneakers:work    >>/rails/log/sneakers.log 2>&1

