default: &default
  adapter: <%= ENV['DB_ADAPTOR'] || 'postgresql' %>
  encoding: unicode
  pool: 5
  port: <%= ENV.fetch('DB_PORT', '5432') %>
  password: '<%= ENV['DB_PASSWORD']  || 'etpass' %>'
  sslmode: '<%= ENV.fetch('DB_SSL_MODE', 'disable') %>'

development:
  <<: *default
  database: '<%= ENV.fetch('DB_NAME', 'atet_development') %>'
  host: '<%= ENV.fetch('DB_HOST', 'localhost') %>'
  user: '<%= ENV.fetch('DB_USERNAME', 'postgres') %>'
  <% if ENV['DEVELOPMENT_DB_URL'] %>
  url: '<%= ENV['DEVELOPMENT_DB_URL'] %>'
  <% end %>

local:
  <<: *default
  database: '<%= ENV['DB_NAME'] || 'atet_local' %>'
  host: '<%= ENV['DB_HOST'] || 'db' %>'
  user: '<%= ENV.fetch('DB_USERNAME', 'postgres') %>'

test: &test
  <<: *default
  database: '<%= ENV.fetch('DB_TEST_NAME', 'atet_test') %><%= ENV['TEST_ENV_NUMBER'] %>'
  host: '<%= ENV.fetch('DB_HOST', 'localhost') %>'
  user: '<%= ENV.fetch('DB_USERNAME', 'postgres') %>'
  <% if ENV['TEST_DB_URL'] %>
  url: '<%= ENV['TEST_DB_URL'] %>'
  <% end %>

production:
  <<: *default
  database: '<%= ENV['DB_NAME'] || 'etdb' %>'
  host: '<%= ENV.fetch('DB_HOST', 'localhost') %>'
  username: '<%= ENV['DB_USERNAME']  || 'etuser' %>'
  password: '<%= ENV['DB_PASSWORD']  || 'etpass' %>'
  pool: 15

cucumber:
  <<: *test
