div.govuk-summary-list__row
  dt.govuk-summary-list__key = t "claim_reviews.item.#{section_name}.#{question}.label"
  dd.govuk-summary-list__value = t "claim_reviews.item.#{section_name}.#{question}.options.#{value}"
