h1 = "New ATET User Feedback"

p.from "The following feedback is from #{@requester[:email]}(#{@requester[:name]})"

h2 = "Comments"

p.comments = @comments

h2 = "Suggestions"

p.suggestions = @suggestions
