= f.govuk_collection_radio_buttons :age_group, Diversities::AgeCaringForm::AGE_GROUP.map { |age_group| [age_group, t("diversities.diversities_age_caring.age_group.options.#{age_group}")]}, :first, :last, label: {text: t('diversities.diversities_age_caring.age_group.label')}
= f.govuk_collection_radio_buttons :caring_responsibility, Diversities::AgeCaringForm::CARING_RESPONSIBILITY.map { |age_caring| [age_caring, t("diversities.diversities_age_caring.caring_responsibility.options.#{age_caring}")]}, :first, :last, label: {text: t('diversities.diversities_age_caring.caring_responsibility.label')}, hint: {text: t('diversities.diversities_age_caring.caring_responsibility.hint')}

