= f.collection_radio_buttons :claim_type, Diversities::ClaimTypeForm::CLAIM_TYPES.map { |claim_type| [claim_type, t(".diversities_claim_type.claim_type.options.#{claim_type}")]}, :first, :last, label: false

