fieldset
  p.govuk-body = t('.act')
  p.govuk-body = t('.conditions')
  = f.collection_radio_buttons :disability, Diversities::DisabilityForm::DISABILITY.map { |disability| [disability, t("diversities.disability.disability.options.#{disability}")]}, :first, :last, label: {text: false}

