fieldset
  p = t('.act')
  p = t('.conditions')
  = f.govuk_collection_radio_buttons :disability, Diversities::DisabilityForm::DISABILITY.map { |disability| [disability, t("diversities.diversities_disability.disability.options.#{disability}")]}, :first, :last, label: {text: false}

