fieldset
  = f.input :sex,
    required: true,
    as: :radio_buttons,
    readonly: nil,
    include_hidden: false,
    collection: Diversities::IdentityForm::SEX,
    item_wrapper_class: 'govuk-radios__item',
    label: t('.sex.hint'), input_html: {class: 'govuk-radios__input'}

fieldset
  = f.input :sexual_identity,
    required: true,
    as: :radio_buttons,
    readonly: nil,
    include_hidden: false,
    collection: Diversities::IdentityForm::SEXUAL_IDENTITY,
    item_wrapper_class: 'govuk-radios__item',
    label: t('.sexual_identity.hint'), input_html: {class: 'govuk-radios__input'}
