= f.govuk_collection_radio_buttons :religion, Diversities::ReligionForm::RELIGION.map { |religion| [religion, t("diversities.diversities_religion.religion.options.#{religion}")]}, :first, :last, label: {text: false}
= f.govuk_text_field :religion_text, label: {text: false}, hint: {text: t('diversities.diversities_religion.religion_text.hint')}
