.govuk-radios {
  display: block;
}

.govuk-radios__item {
  font-family:"nta",Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:16px;
  line-height:20px;
  display:block;
  position:relative;
  min-height:40px;
  margin-bottom:10px;
  padding:0 0 0 40px;
  clear:left
}

.govuk-radios__item label {
  display:block;
  padding:8px 15px 5px;
  cursor:pointer;
  -ms-touch-action:manipulation;
  touch-action:manipulation
}

@media (min-width: 40.0625em) {
 .govuk-radios__item {
  font-size:19px;
  line-height:25px
 }
}
.govuk-radios__item:last-child,.govuk-radios__item:last-of-type {
  margin-bottom:0
}
.govuk-radios__input {
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  width:40px;
  height:40px;
  cursor:pointer;
  margin:0;
  // opacity:0
}
// .govuk-radios__label {
//  display:block;
//  padding:8px 15px 5px;
//  cursor:pointer;
//  -ms-touch-action:manipulation;
//  touch-action:manipulation
// }
// .govuk-radios__input+ label::before {
//  content:"";
//  -webkit-box-sizing:border-box;
//  box-sizing:border-box;
//  position:absolute;
//  top:0;
//  left:0;
//  width:40px;
//  height:40px;
//  border:2px solid currentColor;
//  border-radius:50%;
//  background:transparent
// }
// .govuk-radios__input+.govuk-radios__label::after {
//  content:"";
//  position:absolute;
//  top:10px;
//  left:10px;
//  width:0;
//  height:0;
//  border:10px solid currentColor;
//  border-radius:50%;
//  opacity:0;
//  background:currentColor
// }
// .govuk-radios__input:focus+.govuk-radios__label::before {
//  -webkit-box-shadow:0 0 0 4px #ffbf47;
//  box-shadow:0 0 0 4px #ffbf47
// }
// .govuk-radios__input:checked+.govuk-radios__label::after {
//  opacity:1
// }
// .govuk-radios__input:disabled,.govuk-radios__input:disabled+.govuk-radios__label {
//  cursor:default
// }
// .govuk-radios__input:disabled+.govuk-radios__label {
//  opacity:.5
// }
// @media (min-width: 40.0625em) {
//   .govuk-radios--inline:after {
//   content:"";
//   display:block;
//   clear:both
//  }
//  .govuk-radios--inline .govuk-radios__item {
//   margin-right:20px;
//   float:left;
//   clear:none
//  }
// }
// .govuk-radios__conditional {
//   margin-bottom:15px;
//   margin-left:18px;
//   padding-left:33px;
//   border-left:4px solid #bfc1c3
// }
// @media (min-width: 40.0625em) {
//   .govuk-radios__conditional {
//     margin-bottom:20px
//  }
// }
// .govuk-radios__conditional[aria-hidden="true"] {
//   display:none
// }
// .govuk-radios__conditional>:last-child {
//   margin-bottom:0
// }