.prefixed-field,
.slim-fieldset {
  @include clearfix;
  .currency_field {
    @include span(6 of 12);
    @include first;
    padding:0;
    overflow:hidden;
    border: 1px solid $border-colour;
    background-color:$panel-colour;
  }
  .currency_pound {
    @include span(1);
    @include core-19;
    padding-top:7px;
    padding-bottom:4px;
    display:inline-block;
    text-align:center;
    background:$panel-colour;
    border-right:1px solid $border-colour;
  }
  input.string {
    @include span(11 of 12);
    @include last;
    margin:0;
    border-color:#fff;
  }
.form-group.radio_buttons {
    @include span(6 of 12);
    @include last;
    clear:none;
    margin-bottom:0;
    span.slim-label {
      padding: ($gutter-half $gutter);
      margin-top:0;
      margin-bottom:0;
      label {
        line-height:.2;
        background-color:#fff;
        border-color:#fff;
      }
      input {
        top:7px;
      }
    }
  }
}

.slim-fieldset {
  input.string {
    @include span(5 of 12);
    @include first;
    border-color:$border-colour;
  }
  .form-group.radio_buttons {
    @include span(6 of 12);
  }
}
