.field_with_errors {
  border-left:3px solid $error-colour;
  padding:$gutter-half 0 $gutter-half $gutter-half;
  input,
  select {
    border: 2px solid $error-colour;
  }
}
.error {
  @include core-16;
  display:block;
  color:$error-colour;
}
.validation-summary{
  background:lighten($error-colour, 45%);
  margin: $gutter 0;
  .main-content & {
    margin-top:0;
  }
  h2{
    @include heading-medium;
    margin:0;
  }
}
