.prefixed-field {
  .form-group{
    // @include span(6 of 12);
    &.radio-buttons{
      // @include span(6 of 12 last);
    }
    &.integer{
      position:relative;
      &:before{
        position:absolute;
        content: '\00A3';
        background:$panel-colour;
        border-right:1px solid $border-colour;
        top:50%;
        left:0;
        padding:10px;
        z-index:100;
      }
    }
  }
}
