fieldset.profile_selection
  legend = t('.profile_type')
  = f.input :profile_type,
          as: :radio_buttons,
          label: false,
          required: true,
          item_wrapper_tag: :div,
          collection: Refunds::ProfileSelectionForm::PROFILE_TYPES,
          input_html: { data: { behavior: 'profile_type' } }

- content_for(:javascripts)
  javascript:
      $(document).ready(function () {
          refundProfileSelectionPage.init()
      });
