.js-enabled-hidden {
  .js-enabled & {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

.button-start {
  background-image: url(https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/icon-pointer-2x-8e9c31a486acd2de3aca823392c6d8667b60110cc8369ab1c9e03360b0d91dae.png);
  background-size: 30px 19px;
  padding: 0.25em 1.7em 0.25em 0.67em;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.maintenance-notice p {
  border: 3px solid #005ea5;
  margin-top: 0.5em;
  padding: 0.25em 0.5em;
  font-size: 0.85em;
}
