div.form-fields:lang(cy) .know-date-input div {
  margin-right: 30px;
}

div.form-fields:lang(cy) .employment_notice_pay_period_type span,
div.form-fields:lang(cy) .employment_gross_pay_period_type span,
div.form-fields:lang(cy) .employment_new_job_gross_pay_frequency span,
div.form-fields:lang(cy) .employment_net_pay_period_type span {
  padding: 15px 20px !important;
}

div.form-fields:lang(cy) div.claim_type_discrimination_claims {
  font-size: 17px;
}

div.main-section:lang(cy) .callout-confirmation {
  width: 99%;
}

div.employment_gross_pay_period_type.field_with_errors span.error,
div.employment_net_pay_period_type.field_with_errors span.error,
div.employment_new_job_gross_pay_frequency.field_with_errors span.error,
div.employment_notice_pay_period_type.field_with_errors span.error {
  margin-left: 30px;
  padding: 0px !important;
}

div.claimant_gender.field_with_errors {
  padding: 15px 0 15px 10px;
}