table.review-table{
  border-collapse: collapse;
  width:100%;
  margin-bottom:2em;
  caption{
    @extend .bold-medium;
    text-align:left;
  }
  th,td{
    border-bottom:1px solid $border-colour;
    vertical-align: top;
    padding-right:0;
  }
  th{
    font-weight:400;
    color:$grey-1;
  }
  tr.row{
    th{
      background:$highlight-colour;
      color:$text-colour;
      @extend .bold-small;
    }
  }
}