.container{
  @include container(964px);
  text-align:left;
}
// ==========================================================================
// Header
// ==========================================================================
  header{
    &.main-header{
      @include container;
      h1{
        @include span(8 of 12 last);
      }
    }
  }
// ==========================================================================
// Inputs
// ==========================================================================

input[type=text],
input[type=email],
input[type=tel]{
  @include span(8 of 12);
  &.short-input{
    @include span(4 of 12);
  }
}
select.form-control{
  @include span(6 of 12);
}

textarea.form-control{
  width:100%;
}

// ==========================================================================
// Form layout
// ==========================================================================
.form-inputs{
  // @include cf();
}
.form-actions{
  //@include span(8 of 12 last);
  margin-top:2em;
}
.label-column {
  .block-label {
    // @include column(0.5, $cycle: 2, $gutter: 2);
    label{
      margin-right:0;
    }
  }
}
.block-label{
  &.large-label{
    float:none;
    display: block;
  }
}
// ==========================================================================
// Page layout
// ==========================================================================
.main-section{
  @include container;
}
.simple_form{
  @include span(8 of 12 last);
}
aside{
  @include span(4 of 12 first);
  h3{
    @extend .heading-medium;
    margin-top:0;
  }
  ul{
    padding-left:0;
    list-style-position:inside;
  }
}
// ==========================================================================
// Split header
// ==========================================================================
