// ==========================================================================
// Aside nav
// ==========================================================================
aside {
  a {
    @include core-19;
  }
}

// ==========================================================================
// pages
// ==========================================================================

// Application summary page
// ==========================================================================
.application-summary {
  text-align:center;
  background-color:$panel-colour;
  padding:1em 0;
  margin-bottom:1em;
  h2, h3{
    margin-top:0;
  }
}

// Claims page
// ==========================================================================
.claims {
  .content-section {
    h3{
      margin-top: em(15, 16);
      &:first-child {
        margin-top: em(5, 16);
      }
    }
    p{
      margin-bottom: em(5, 16);
    }

  }
}
