// Application summary page
// ==========================================================================
.application-summary{
  text-align:center;
  background-color:$panel-colour;
  padding:1em 0;
  margin-bottom:1em;
  h2,h3{
    margin-top:0;
  }
}

// content-copy
// ==========================================================================
.content-copy{
  h2{
    @extend .heading-medium;
  }
}

// Hack to make checkbox float inline before the label
// ==========================================================================
.respondent_no_acas_number,
.claim_is_other_type_of_claim{
  display:inline-block;
  label,input{
    float:right;
  }
  input{
    width:auto;
  }
}
