// Application summary page
// ==========================================================================
.application-summary{
  text-align:center;
  background-color:$panel-colour;
  padding:1em 0;
  margin-bottom:1em;
  h2,h3{
    margin-top:0;
  }
}

// Legend style
// ==========================================================================
@mixin legend {
  @include bold-24();

  margin-top: em(25, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(45, 24);
    margin-bottom: em(20, 24);
  }
  border-bottom:1px solid $border-colour;
  width:100%;
  display:block;
  padding:0 0 $gutter-half/2 0;
}
.legend{
  @include legend;
}

//for table cells void of any information
// ==========================================================================

.email-confirmation {
  border-bottom:1px solid $border-colour;
  .checkbox label {
    @include core-16;
  }
}

.not-entered {
  color: $grey-1;
}

// For copy coming out of markdown
// ==========================================================================
.content-section {
  legend:first-child {
    margin-top:0;
  }
  h2 {
    @include legend;
    &:first-child{
      margin-top:0;
    }
  }
  h3 {
    @include bold-19();
    margin-bottom:0;
    & + p,
    & + ul{
      margin-top:0;
    }
  }
  p, li {
    @include core-19;
  }
}

.content-block {
  margin:$gutter-half 0;
  &:first-child{
    margin-top:0;
  }
}

// Aside
// ==========================================================================
aside{
  h3{
    @include heading-medium;
    margin:0 0 $gutter-half/2;
  }
  ul{
    padding-left:0;
    margin:0 0 $gutter-half 0;
    list-style:none;
  }
  li{
    padding-left:0;
    margin-left:0;
  }
}

.fee-detail {
    @include span(11 of 12);
    .number {
        font-weight: 700;
    }
}

.form-fields {
  > h2.legend {
    margin-top:0;
  }
}

.content-section,
fieldset{
  @include container;
  @include clearfix;
  position:relative;
  margin:0 0 $gutter;
  legend:first-child {
    margin-top:0;
  }
}

legend {
  @include legend;
  &.form-label{
    border:none;
    margin-bottom:0;
  }
  &.medium{
    @include bold-19();
    margin-bottom:0;
    padding-bottom:0;
    border:none;
  }
  & + .form-hint {
    margin-bottom: $gutter-half/2;
  }
}

.label-column {
  @include container(wider);
  span.checkbox{
    @include gallery(6 of 12);
    padding-left:0;
  }
}

.hyperlink{
  @include core-19;
  background:none;
  outline:none;
  border:none;
  color:$link-colour;
  text-decoration:underline;
  &:hover{
    color:$link-hover-colour;
    cursor:pointer;
  }
}

.remove-multiple,
.remove-respondent{
  display:none;
  .js-enabled &{
    @include core-16;
    line-height:2em;
    display:block;
    position:absolute;
    top:0;right:0;
  }
}

.nav-static-content{
  margin: 0 0 $gutter;
}


#step_one, #step_two, #step_three{
    p, .additional_claimants_upload_additional_claimants_csv {
        margin-left: 70px;
        margin-top: 0;
    }
    b {
        float: left;
    }
    .additional_claimants_upload_additional_claimants_csv{
        clear:none;
    }
}

.static-content {
    h2{
      @include bold-24();
    }
    h3 {
      @include bold-19();
    }
    &.guide{
      h2{
        @include legend;
      }
      table {
        margin-top:0;
        margin-bottom:$gutter * 2;
      }
    }
}

ol.numerical-list {
  list-style-position:outside;
  list-style-type: decimal;
  padding:0 $gutter;
  li {
    @include bold-19();
    p {
      @include core-19;
    }
  }
}
//==========================================================================//
//for table cells void of any information
//==========================================================================//
.review-list-entry {
  margin:$gutter 0 $gutter*1.5;
  &:first-child{
    margin-top:0;
  }
  .list-header {
    @include bold-24();
    overflow:hidden;
    margin:0;
    border-bottom:1px solid $border-colour;
    a {
      @include core-16;
      line-height:2;
      float:right;
      font-weight: 400;
    }
    & + h3 {
      @include bold-19();
      margin:0;
      padding:$gutter-half/2 0;
      background-color: $highlight-colour;
      border-bottom:1px solid $border-colour;
      text-indent:$gutter-half/2;
    }
  }
}
//==========================================================================//
//
// IE Radio button colors
label{
  .radio_buttons, .gds_check_boxes{
    background: $panel-colour;
    border: none;
  }
  &.selected{
    .radio_buttons, .gds_check_boxes{
      background: $white;
    }
  }
}
//==========================================================================//
// feedback bar
//==========================================================================//
.feedback-notice {
  border-bottom:1px solid $grey-3;
  padding: $gutter-half/2 0;
  p {
    @include core-16;
    margin:0;
    display: table;
  }
  .language-picker {
    float: right;
    vertical-align: baseline;
    @include core-16;
  }
}
//==========================================================================//
// Override ordered list styles
//==========================================================================//
ol li {
  list-style: decimal
}
