/* IE shame */
/* Checkboxes side by side /apply/claim_type */
.claim_type_discrimination_claims span.checkbox,
.claim_type_pay_claims span.checkbox{
    width: 47%;
    font-size: 17px;
}

// Fixes weird borders and colours in IE
input [type=radio],
input [type="checkbox"] {
    background-color: transparent; outline: none; border:none;
}
