$is-ie: true;
$ie-version: 7;

@import "application";
@import "application-ie";

// IE 7 shame
// Checkboxes side by side /apply/claim_type/
.claim_type_discrimination_claims span.checkbox,
.claim_type_pay_claims span.checkbox{
    width: 45%;
}

// IE7 HTML/CSS margin-bottom bug
.callout{
    float: none;
}

// Missing top border in IE7 on labels rollover.
// Setting the line-height to match font-size
// fixes this known bug.
#content{
    line-height: 19px;
}
